.myModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.myModalContent {
  padding: 25px;
  background: white;
  border-radius: 15px;
  min-width: 400px;
  z-index: 1000;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
